/* CSS - Cascading stylesheets */

/* */
/* @import url(); */ 

form {
    background-color: #d32323;
}

.formBackground {
    background-color: rgb(0, 0, 0);
}

.overridebackground {
    background-color: rgb(9, 255, 0) !important;
}

.background {
    background-color: rgb(79, 32, 167);
}

#bg {
    background-color: blue;
}

.img {
    border: 10px solid #d32323;
    width: 300px;
}