.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}

.img {
    width: 100%;
    max-width: 250px;
    float: left;
    margin: 0 20px 15px 0;
}

.right {
    float: right;
    margin: 0 0 15px 20px;
}

.section::before,
.section::after {
    content: "";
    display: table;
    clear: both;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.purple {
    color: purple;
}

.green {
    color: green;
}

.black {
    color: black;
}

.orange {
    color: orange;
}

label {
    display: inline-block;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/1.jpg') no-repeat 0 0 / cover;
    opacity: 0.3; 
    width: 100%;
    height: 100%;
    z-index: 0;
}