/* Oswald Font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
/* OpenSans Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

h1,
h2,
h3, 
h4, 
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.1;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #fff;
    color: #333;
    font-size: 14px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    color: #343434;
    background-color: #ffc401;
    font-weight: 700;
    font-size: 16px;
    border-radius: 3px;
    padding: 12px 25px;
    text-decoration: none;
    transition: all .4s ease-in-out;
    line-height: 20px;
}

.button:hover {
    background-color: #e0ac00;
    color: #fff;
}

.grey-button {
    background-color: #333333;
    color: #FFF;
}

.grey-button:hover {
    background-color: #151515;
}

#header .navbar {
    background: rgba(30, 30, 30, 0.45);
    padding: 8px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#header .logo {
    float: left;
    padding-top: 20px;
}

#header .navigation {
    float: right;
}

#header .navigation > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#header .navigation > ul > li > a {
    display: block;
    padding: 0 15px;
    font-weight: 700;
    color: #FFF;
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
}

#header .navigation > ul > li > a.active {
    color: rgb(162, 0, 255);
}

#header .navigation > ul > li > a:hover {
    color: rgb(162, 0, 255);
}

#intro {
    background-color: rgb(162, 0, 255);
    background-image: url('../img/pattern.png');
    min-height: 100vh;
    padding-top: 190px;
    padding-bottom: 140px;
}

#intro .intro-left,
#intro .intro-right {
    float: left;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

#intro .intro-text h2 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 75px;
    line-height: 85px;
    letter-spacing: 1px;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 15px;
}

#intro .intro-text h3 {
    color: #fff;
    font-size: 34px;
    line-height: 34px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 20px;
}

#intro .intro-text p {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

#about {
    padding-top: 80px;
    padding-bottom: 120px;
}

#about .section-heading {
    text-align: center;
}

#about .section-heading h3 {
    color: #222;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#about .section-heading h2 {
    color: #222;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}

#about .section-heading h2 span {
    border-bottom: 2px solid #ffc401;
    display: inline-block;
    padding-bottom: 15px;
}

#about .about-left,
#about .about-right {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

#about .about-left {
    width: 58.33333333%;
}

#about .about-right {
    width: 41.66666667%;
}

#about .tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#about .tabs ul li {
    border-right: 1px solid rgb(129, 129, 129);
}

#about .tabs ul li a {
    display: block;
    color: #222;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 25px;
}

#about .tabs ul li:first-child a {
    padding-left: 0;
}

#about .tabs ul li:last-child {
    border-right: none;
}

#about .tabs ul li.active a {
    color: #ffc400;
}

/*#about .tabs ul li:nth-child(1)*/
/*#about .tabs ul li:nth-child(2n)*/

#about .tabs .tab-content {
    font-size: 16px;
    line-height: 28px;
}